In [2]:
import pandas as pd

## sorting and aggregation

In [3]:
data={
    "Name":['Arun','Varun','karan'],
    "Age":[14,10,3],
    "Salary":[100,200,300]
}

df=pd.DataFrame(data)

df.sort_values(by="Age",ascending=False,inplace=True)
print(df)

    Name  Age  Salary
0   Arun   14     100
1  Varun   10     200
2  karan    3     300

In [4]:
df.sort_values(by="Age",ascending=True,inplace=True)
print(df)

    Name  Age  Salary
2  karan    3     300
1  Varun   10     200
0   Arun   14     100