Data Manipulation -changing organizing or preparing data to make user and easier to understand
Data Analysis-extracting patterns trends and insights from the data to solve problems

series-1d array that can hold any datatype int float str or even python objects

dataframe-is 2d labeled data structure array

rows will have indices(labels)
columns have names

csv-comma separated file

In [1]:
import pandas as pd

In [ ]:
df=pd.read_csv("sales_data_sample.csv",encoding="latin1")
print(df)

In [6]:
data1={
    "Name":['ram','puja','riya'],
    "Age":[10,20,34],
    "city":['uk','us','newyork']

}

d=pd.DataFrame(data1)
print('Displaying the info of data set')
print(d)
print(d.info())

Displaying the info of data set
   Name  Age     city
0   ram   10       uk
1  puja   20       us
2  riya   34  newyork
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   city    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes
None

In [8]:
data = {
    "Name": [
        "Amit", "Neha", "Rahul", "Pooja", "Vikas",
        "Anjali", "Rohit", "Sneha", "Karan", "Priya"
    ],
    "Age": [
        25, 28, 30, 24, 35,
        27, 32, 26, 29, 31
    ],
    "Salary": [
        35000, 42000, 55000, 30000, 65000,
        48000, 60000, 40000, 52000, 58000
    ],
    "Performance_Score": [
        78, 85, 90, 72, 88,
        82, 91, 80, 86, 89
    ]
}

df=pd.DataFrame(data)
print("sample data ")
print(df)
print("discriptive statistics")
print(df.describe())

sample data
     Name  Age  Salary  Performance_Score
0    Amit   25   35000                 78
1    Neha   28   42000                 85
2   Rahul   30   55000                 90
3   Pooja   24   30000                 72
4   Vikas   35   65000                 88
5  Anjali   27   48000                 82
6   Rohit   32   60000                 91
7   Sneha   26   40000                 80
8   Karan   29   52000                 86
9   Priya   31   58000                 89
discriptive statistics
            Age        Salary  Performance_Score
count  10.00000     10.000000          10.000000
mean   28.70000  48500.000000          84.100000
std     3.40098  11491.542784           6.063552
min    24.00000  30000.000000          72.000000
25%    26.25000  40500.000000          80.500000
50%    28.50000  50000.000000          85.500000
75%    30.75000  57250.000000          88.750000
max    35.00000  65000.000000          91.000000

In [ ]:
print(df["Name"])

0      Amit
1      Neha
2     Rahul
3     Pooja
4     Vikas
5    Anjali
6     Rohit
7     Sneha
8     Karan
9     Priya
Name: Name, dtype: object

In [10]:
print(df.shape)

(10, 4)

In [14]:
print(df.columns)
df.keys()

Index(['Name', 'Age', 'Salary', 'Performance_Score'], dtype='object')

Index(['Name', 'Age', 'Salary', 'Performance_Score'], dtype='object')

In [16]:
print(df["Name"][2])

Rahul

In [20]:
filt_rows=df[df["Salary"]>55000]
print(filt_rows)

    Name  Age  Salary  Performance_Score
4  Vikas   35   65000                 88
6  Rohit   32   60000                 91
9  Priya   31   58000                 89

In [21]:
filt_rows=df[(df["Salary"]>50000)&(df["Salary"]<60000) ]
print(filt_rows)

    Name  Age  Salary  Performance_Score
2  Rahul   30   55000                 90
8  Karan   29   52000                 86
9  Priya   31   58000                 89

In [22]:
print(df["Name"])

0      Amit
1      Neha
2     Rahul
3     Pooja
4     Vikas
5    Anjali
6     Rohit
7     Sneha
8     Karan
9     Priya
Name: Name, dtype: object

In [24]:
sub=df[["Name","Salary"]]
print(sub)

     Name  Salary
0    Amit   35000
1    Neha   42000
2   Rahul   55000
3   Pooja   30000
4   Vikas   65000
5  Anjali   48000
6   Rohit   60000
7   Sneha   40000
8   Karan   52000
9   Priya   58000

In [34]:
high_Salary=df[(df["Salary"]>50000) & (df["Age"]>30)]
print(high_Salary)
high_Salary=df[(df["Salary"]>50000) | (df["Age"]>30)]
print(high_Salary)

    Name  Age  Salary  Performance_Score
4  Vikas   35   65000                 88
6  Rohit   32   60000                 91
9  Priya   31   58000                 89
    Name  Age  Salary  Performance_Score
2  Rahul   30   55000                 90
4  Vikas   35   65000                 88
6  Rohit   32   60000                 91
8  Karan   29   52000                 86
9  Priya   31   58000                 89

In [35]:
print("highest salary is ",df["Salary"].max())
print("lowest salary is ",df["Salary"].min())

highest salary is  65000
lowest salary is  30000