Merging

In [1]:
import pandas as pd

pd.merge(df1,df2,on="col name,how=type pf join)

In [5]:
customer=pd.DataFrame({
        'customerid': [1, 2, 3],
        'name': ['riya', 'tiya', 'siya']
    })

In [4]:
orders=pd.DataFrame({
    'customerid':[1,2,4],
    'amount':[100,200,300]
})

In [6]:
merged=pd.merge(customer,orders,on='customerid',how="inner")
print(merged)

   customerid  name  amount
0           1  riya     100
1           2  tiya     200

In [7]:
merged=pd.merge(customer,orders,on='customerid',how="left")
print(merged)

   customerid  name  amount
0           1  riya   100.0
1           2  tiya   200.0
2           3  siya     NaN

In [8]:
merged=pd.merge(customer,orders,on='customerid',how="outer")
print(merged)

   customerid  name  amount
0           1  riya   100.0
1           2  tiya   200.0
2           3  siya     NaN
3           4   NaN   300.0

In [9]:
merged=pd.merge(customer,orders,on='customerid',how="right")
print(merged)

   customerid  name  amount
0           1  riya     100
1           2  tiya     200
2           4   NaN     300

In [ ]:
merged=pd.merge(customer,orders,on='customerid',how="cross")
print(merged)