Summary

df["column name].mean()
.sum()
.min()
.max()

In [3]:
import pandas as pd

In [17]:
data={
    "Name":['Arun','Varun','karan','jack','john'],
    "Age":[14,10,30,10,35],
    "Salary":[100,200,300,200,6000]
}

df=pd.DataFrame(data)

In [18]:
avg_salary=df['Salary'].mean()

In [19]:
avg_salary

1360.0

Grouping

In [20]:
grouped=df.groupby('Age')["Salary"].sum()
print(grouped)

Age
10     400
14     100
30     300
35    6000
Name: Salary, dtype: int64

In [21]:
grouped=df.groupby('Age')["Salary"].min()
print(grouped)

Age
10     200
14     100
30     300
35    6000
Name: Salary, dtype: int64